.textareaContainer {
  width: 100%;

  .textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #e1e1e3;

    &.error {
      color: #ff424d;
      border: 1px solid #ff424d;
    }
  }
}
